.App {
width: 1200px;
margin: 0 auto;
	
}
html{
	background-image: linear-gradient(#fff,#bbb);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.event-body{
	flex-grow: 1;
}
.event-body a{
	color: #fff;
	text-decoration: none;
}
.event-body button{
	border-radius: 5px;
	background: grey;
	color: #fff;
	margin-left: 5px;
	margin-right: 5px;
}
.add-page button, .add-page a{
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	background: grey;
	color: #fff;
	margin-left: 5px;
	margin-right: 5px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.top-side{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

}
.event-body__buttons{
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-page{
	display: flex;
	flex-flow: row nowrap;
}
.event-body{
	margin-left: 10px;
}
.event-body__item{
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 20px;
	padding: 10px;
	background:#fff;
}
.add-page .event-body__buttons{
	visibility: visible;
}
.event-body__item:hover .event-body__buttons{
	visibility: visible;
}
.event-body__buttons{
	visibility: hidden;
}
.add-page{
	width: 500px;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.react-calendar__tile.highlight{
	background-color: blueviolet;
	color:#fff;
}
input:invalid{
background-color: red;
color: #fff;
}
input:invalid::placeholder{
	color: #fff;
}
.hidden{
	background: red;
	color: #fff;
	position: absolute;
	top: 0;
  margin: 0;
  margin-top: 30px;
}
.hidden-wrapper{
	position: relative;
}